@font-face {
  font-family: "Ginger";
  src: url("../../public/fonts/ginger-modern-stylish-font/Ginger.ttf");
}

.products {
  width: 100%;
  min-height: 300px;
  margin-top: 6rem;
}

.products .container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  margin-bottom: 1.2rem;
}

.add_product {
  border-bottom: 5px solid grey;
  padding: 10px 0;
}
.add_product > button {
  width: 150px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(---color-grey);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  background: inherit;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.add_product > button:hover {
  background: black;
  color: white;
}

.add_form_container {
  margin-top: 1rem;
}

.products_list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 1rem 0;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

.product_item {
  border: 1px solid black;
  width: 100%;
  max-width: 350px;
  min-height: 200px;
  background-color: #efe6d7;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 1.5rem 10px 0;
  box-sizing: border-box;
}

.product_item > h2 {
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
  font-family: "Ginger";
}

.price_category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.price_category span {
  font-weight: 800;
}
