.add_form {
  margin: 20px 0 0;
  width: 90%;
  max-width: 700px;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  height: 0px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.add_form.open {
  height: 200px;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .add_form.open {
    height: 150px;
  }
}

.inputs_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-bottom: 20px;
}

.inputs_container input {
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  height: 36px;
  background-color: inherit;
  padding: 10px;
  border-radius: 20px;
  box-sizing: border-box;
}

.submit_add_btn {
  width: 100px;
  height: 30px;
  display: grid;
  place-items: center;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  background-color: #343417;
  color: #efe6d7;
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.submit_add_btn:hover {
  color: #343417;
  background: #efe6d7;
  border: 1px solid #343417;
}
