@font-face {
  font-family: "Ginger";
  src: url("/public/fonts/ginger-modern-stylish-font/Ginger.ttf");
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/shop-open.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.main .container {
  width: 90%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  gap: 3rem;
}

.main .container h1 {
  font-weight: 700;
  font-size: clamp(2rem, 3vw, 5.5rem);
  font-family: "Ginger";
}

.main .container p {
  font-size: clamp(0.8rem, 2.5vw, 1.2rem);
  font-style: italic;
  font-weight: 500;
  font-family: "Ginger";
}

.view_button a {
  padding: 10px 15px;
  background: var(--color-grey);
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: var(--box-shadow);
}
